@model EmpleadoABM.Entidades.Empleado

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm("Editar", "Empleados", FormMethod.Post))
{

    @Html.LabelFor(@model => model.Nombre, "Nombre");
    @Html.TextBoxFor(model => model.Nombre);
    <br />

    @Html.LabelFor(@model => model.Apellido, "Apellido");
    @Html.TextBoxFor(model => model.Apellido);
    <br />

    <button type="submit" class="btn btn-warning">Editar</button>
}